.header {
    height: 100px;
    border: 1px solid #000;
}

.warp-1 {
    float: left;
    width: 20%;
    border: 1px solid #000;
}

.warp-2 {
    float: right;
    width: 79%;
    border: 1px solid #000;
}

.main::after {
    content: '';
    display: block;
    clear: both;
}

.footer {
    height: 100px;
    border: 1px solid #000;
}